* {
  box-sizing:border-box;
  max-width:100%;
}

body {
  background-image:url("daylight.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

main {
  margin-top:5%;
}

nav {
  position:fixed;
  top:0%;
  display:flex;
  padding-left:89%;
  background: linear-gradient(#3479a3,#3333FF);
  z-index:1;
}

.navDiv {
  flex:1;
  border:solid 2px blue;
  margin:0px 7px 0px 7px;
  padding:2px;
}

h1 {
  font-size:35px;
}

main {
  text-align:center;
}

header p {
  font-size:21px;
}

.formDiv {
  margin-bottom:15px;
  width:400px;
  margin:auto;
  padding:9px;
}

.formDivInput {
  margin-left:40%;
}

form {
  width:50%;
  margin:auto;
}

#lngLabel {
  margin-left:15px;
}

#lngLabel, #latLabel {
  color:black;
}

div h2 {
  font-size:22px;
}

#sunriseContainer p {
  border:solid 2px blue;
  width:125px;
  height:30px;
  margin:auto;
  padding: 5px;
  font-weight:bold;
}

#sunsetContainer p {
  border:solid 2px blue;
  width:125px;
  height:30px;
  margin:auto;
  padding: 5px;
  font-weight:bold;
}

#lngLabel, #latLabel, #lngPopulate, #latPopulate {
  margin:auto;
  font-weight:bold;
}

 #lngPopulate, #latPopulate {
   color: #000080;
 }

.inputAlign {
  width:190px;
  margin-left:1px;
}

#calendarPara {
  font-size:20px;
  font-weight:bold;
}

label {
  font-size:18px;
  font-weight:bold;
}

#commentPara {
  margin:auto;
  margin-top:0px;
  margin-bottom:15px;
}

footer {
  margin:auto;
  margin-top:7%;
  width:20%;
}

#calendarPara {
  font-weight:bold;
}

#copyrightPara {
  text-align:center;
}

@media (min-width:320px) {
  main {
    margin-top:15%;
  }
  nav {
    position:fixed;
    top:0%;
    display:flex;
    padding-left:58%;
    background: linear-gradient(#3479a3,#3333FF);
    z-index:1;
  }

  .navDiv {
    flex:1;
    border:solid 2px blue;
    margin:0px 7px 0px 7px;

  }

  #lngLabel, #latLabel, #lngPopulate, #latPopulate {
    margin:auto;
    font-weight:bold;
  }

  #commentPara {
    font-weight:bold;
  }

  #calendarPara {
    font-weight:bold;
  }
}

@media (min-width:480px) {
  main {
    margin-top:12%;
  }
  nav {
    position:fixed;
    top:0%;
    display:flex;
    padding-left:68%;
    background: linear-gradient(#3479a3,#3333FF);
    z-index:1;
  }

  .navDiv {
    flex:1;
    border:solid 2px blue;
    margin:0px 7px 0px 7px;

  }
}

@media (min-width:640px) {
  main {
    margin-top:9%;
  }
  nav {
    position:fixed;
    top:0%;
    display:flex;
    padding-left:78%;
    background: linear-gradient(#3479a3,#3333FF);
    z-index:1;
  }

  .navDiv {
    flex:1;
    border:solid 2px blue;
    margin:0px 7px 0px 7px;

  }
}

@media (min-width:768px) {
  main {
    margin-top:8%;
  }
  nav {
    position:fixed;
    top:0%;
    display:flex;
    padding-left:80%;
    background: linear-gradient(#3479a3,#3333FF);
    z-index:1;
  }

  .navDiv {
    flex:1;
    border:solid 2px blue;
    margin:0px 7px 0px 7px;

  }
}

@media (min-width:968px) {
  nav {
    position:fixed;
    top:0%;
    display:flex;
    padding-left:85%;
    background: linear-gradient(#3479a3,#3333FF);
    z-index:1;
  }

  .navDiv {
    flex:1;
    border:solid 2px blue;
    margin:0px 7px 0px 7px;

  }
}

@media (min-width: 1200px) {
  nav {
    position:fixed;
    top:0%;
    display:flex;
    padding-left:87%;
    background: linear-gradient(#3479a3,#3333FF);
    z-index:1;
  }

  .navDiv {
    flex:1;
    border:solid 2px blue;
    margin:0px 7px 0px 7px;
    padding:3px;
  }
}
}
